[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
sentinel = "AfGqhoRZqb1iBK7aL7bdBajA4t8M3cdBHzM93KKFPKm9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[workspace]
members = ["programs/sentinel"]
